
<!--
<ul class="images">
  <div class="row">
      <div class="col-xs-12">
          <div *ngFor="let image of images">
          </div>
          <img src="{{randomUrl}}">
          <img src="{{randomUrl}}">
      </div>
  </div>
</ul>
-->

<div class="container-fluid">
  <div class="row" style="border-top: 0">
    <!-- Profile info -->
    <div class="col-sm-4 col-sm-offset-4">
      <h1 class="text-center" style="color: #3FA2B2">CatMash</h1>
      <div class="text-center">
        <img class="img-circle img-responsive" src="{{randomUrl}}">
      <img class="img-circle img-responsive" src="{{randomUrl2}}">
      </div>
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="column">
    <img class="circular--square" src="{{randomUrl}}" alt="Snow" style="width:60%">
  </div>
  <div class="column">
    <img class="circular--square" src="{{randomUrl2}}" alt="Forest" style="width:60%">
  </div>
</div> -->
